@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ScreenContext ctx = (ScreenContext)ViewData["ScreenContext"];
}
</div>
<div class="row3">
    @if (ctx == ScreenContext.Home)
    {
        <a href="@Url.Action("Index","Home")"><i class="fas fa-home fa-6x selectedMenuItem"></i></a>
    }
    else
    {
        <a href="@Url.Action("Index","Home")"><i class="fas fa-home fa-6x notSelected"></i></a>
    }
</div>
<div class="row3">
    @if (ctx == ScreenContext.Fitness)
    {

        <a href="@Url.Action("Index","Fitness")"><i class="fas fa-dumbbell fa-6x selectedMenuItem"></i></a>
    }
    else
    {
        <a href="@Url.Action("Index","Fitness")"><i class="fas fa-dumbbell fa-6x notSelected"></i></a>
    }
</div>
<div class="row3">
    @if (ctx == ScreenContext.Diet)
    {
        <a href="@Url.Action("Index","Diet")"><i class="fas fa-utensils fa-6x selectedMenuItem"></i></a>
    }
    else
    {
        <a href="@Url.Action("Index","Diet")"><i class="fas fa-utensils fa-6x notSelected"></i></a>
    }

</div>
<div class="row3">
    @if (ctx == ScreenContext.History)
    {
        <a href="@Url.Action("Index","History")"><i class="fas fa-history fa-6x selectedMenuItem"></i></a>
    }
    else
    {
        <a href="@Url.Action("Index","History")"><i class="fas fa-history fa-6x notSelected"></i></a>
    }
</div>
